// .containers {
//     @include make-container(200px);
//   }

#bodywrapper {
    @include responsive($breakpoint900) {
      width: 900px;
    }
  
    @include responsive($breakpointdesktop) {
      width: 900px;
    }
  
    overflow: hidden;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 20px 20px #ccc;
  }