@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f2937;
  --foreground: white;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
