@tailwind base;
@tailwind components;
@tailwind utilities;

.tag .showtag {
  display: none;
}
.tag:hover .showtag {
  display: block;
}

#ukraine{
    bottom: 10px;
    height: 42px;
    right: -40px;
    position: fixed;
    width: 150px;
    transform: rotate(140deg);
    background: linear-gradient(-180deg,#ffd500 50%,#005bbb 0);
} 