@tailwind base;
@tailwind components;
@tailwind utilities;

.tag .showtag {
  display: none;
}
.tag:hover .showtag {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

#ukraine{
    bottom: 10px;
    height: 42px;
    right: -40px;
    position: fixed;
    width: 150px;
    transform: rotate(140deg);
    background: linear-gradient(-180deg,#ffd500 50%,#005bbb 0);
} 

.prose-layout {
  @apply prose prose-slate prose-h1:text-black dark:prose-h1:text-white prose-h2:text-black dark:prose-h2:text-white prose-h3:text-black dark:prose-h3:text-white prose-p:text-gray-600 dark:prose-p:text-gray-300;
}